/* ! Globule Style */

*,::before,::after{
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 10px;
}
body{
    background-color: #f2f2f2;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

/* ! Header Style */

header a{
    color: #ececec;
    text-decoration: none;
}
header{
    width: 100%;
    height: 9rem;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ececec;
    cursor: pointer;
}
.logo i{
    font-size: 4rem;
}
.logo_text span{
    font-size: 3.8rem;
    margin-left: 1.2rem;
    color: #29B2FE;
}

/* ! Text Head */
.main_container{
    display: flex;
    justify-content: center;
}

.page_title{
    font-size: 4rem;
    margin: 3rem 0;
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
    color: #29B2FE;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

/* ! Country Div Style */

.all_div{
    width: 90rem;
    height: auto;
    /* padding: 0 4.5rem; */
    margin: 0rem 4rem 6rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, 230px);
	grid-row-gap: 2rem;
    grid-column-gap: 2rem;
    /* border: 2px solid black; */
}

.all_div > div{
    /* background-color: brown; */
}

.country_div a img{
    display: block;
    width: 100%;
    height: 77%;
    border-radius: 0.6rem;
    background-color: lightslategray;
}

.button_country{
    width: 100%;
    height: 20%;
    margin: 6px 0 0 0;
}

.button_country a{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #ececec;
    text-decoration: none;
    background-color: #29B2FE;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ! Footer Style */

footer{
    width: 100%;
    height: 10rem;
    background-color: #333;
    color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_container p{
    font-size: 2.3rem;
    letter-spacing: 1px;   
}

/* !  ----   Responsive Area   ---- */

/* ? Country Div Style Responsive */

@media screen and (max-width: 820px){
/* ! Header Text Style */
    .page_title{
        font-size: 3.1rem;
    }
/* ! Country Div Style*/
    .all_div{
        width: 50rem;
        height: auto;
        margin: 0rem 4rem 6rem 4rem;
        /* display: unset; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(11, 190px);
        grid-row-gap: 2rem;
        grid-column-gap: 1rem;
        /* border: 2px solid black; */
    }
    
    .all_div > div{
        /* background-color: brown; */
    }

}

@media screen and (max-width: 520px){
/* ! Header Text Style */
    .page_title{
        font-size: 2.8rem;
    }
/* ! Country Div Style*/
    .all_div{
        width: 24rem;
        height: auto;
        margin: 0rem 4rem 6rem 4rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(22, 190px);
        grid-row-gap: 4rem;
        /* border: 2px solid black; */
    }
    
    .all_div > div{
        /* background-color: brown; */
    }

}

/* ? Copy Past Responsive Header And Footer */


@media screen and (max-width: 1450px){

    /* !Header Style */
    header{
        height: 7.5rem;
    }

    .logo i{
        font-size: 3.3rem;
    }
    .logo_text span{
        font-size: 3rem;
        margin-left: 1.2rem;
        /* color: #29B2FE; */
    }

    /* ! Footer Style */
    footer{
        width: 100%;
        height: 7.2rem;
        background-color: #333;
        color: #ececec;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer_container p{
        font-size: 1.9rem;
        letter-spacing: 0.5px;   
    }

}    

@media screen and (max-width: 630px){
    /* ! Header Style */
    .logo i{
        font-size: 3.5rem;
    }
    .logo_text span{
        font-size: 3.1rem;
    }

    /* ! Footer */
    .footer_container p{
        font-size: 1.8rem;
    }
    footer{
        height: 7.2rem;
    }



}    

@media screen and (max-width: 400px){

    .head_title h1{
        font-size: 2.5rem;
    }

}